<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
  <!--  <a mat-list-item>
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Login</span>
    </a>
    <a mat-list-item
        routerLink="/">
      <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
    </a>
    <a mat-list-item
      routerLink="/dashboard">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Dashboard</span>
    </a>
    <a  mat-list-item
        type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">LogOut</span>
    </a>
  -->

    <a mat-list-item
    routerLink="/lifecyclehooks">

    <span class="label">Life Cycle Hooks</span>
  </a>
  <a mat-list-item
    routerLink="/observables">

    <span class="label">Observables</span>
  </a>
  <a mat-list-item
    routerLink="/observables-pipes">

    <span class="label">Observables - Pipes</span>
  </a>
  <a mat-list-item
  routerLink="/templateformbasic">

  <span class="label">Template Form - Basic</span>
</a>
    <a mat-list-item
    routerLink="/templateuser">

    <span class="label">Template Form</span>
  </a>
  <a mat-list-item
  routerLink="/reactiveformbasic">

  <span class="label">Reactive Form - Basic</span>
</a>
  <a mat-list-item
  routerLink="/reactiveuser">

  <span class="label">Reactive Form 1</span>
</a>
<a mat-list-item
routerLink="/products">

<span class="label">Reactive Form - Products</span>
</a>
<a mat-list-item
routerLink="/userdemo">

<span class="label">DI 1</span>
</a>
<a mat-list-item
routerLink="/userinject">

<span class="label">DI 2</span>
</a>
<a mat-list-item
routerLink="/materialexample">

<span class="label">Material Example</span>
</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div>
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a routerLink="/">
         Angular Session 3 - Demo
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a>
                  <mat-icon class="icon">input</mat-icon>
                  <span  class="label">Login</span>
                 </a>
            </li>
            <li>
              <a
                routerLink="/">
                  <mat-icon class="icon">home</mat-icon>
                  <span class="label">Home</span>
              </a>
            </li>
            <li>
                <a
                  routerLink="/dashboard">
                    <mat-icon class="icon">dashboard</mat-icon>
                    <span class="label">Dashboard</span>
                </a>
              </li>
            <li>
                <a>
                  <mat-icon class="icon">input</mat-icon>
                  <span class="label">LogOut</span>
                 </a>
            </li>
        </ul>
     </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
